@font-face {
    font-family: 'MissionScriptRegular';
    src: url('../font/mission-script.eot');
    src: url('../font/mission-script.eot') format('embedded-opentype'),
         url('../font/mission-script.woff') format('woff'),
         url('../font/mission-script.ttf') format('truetype'),
         url('../font/mission-script.svg#MissionScriptRegular') format('svg');
}

@font-face {
    font-family: 'TrebuchetMSBold';
    src: url('../font/10157.eot');
    src: url('../font/10157.eot') format('embedded-opentype'),
         url('../font/10157.woff') format('woff'),
         url('../font/10157.ttf') format('truetype'),
         url('../font/10157.svg#TrebuchetMSBold') format('svg');
}

@font-face {
    font-family: 'TabithaRegular';
    src: url('../font/tabitha.eot');
    src: url('../font/tabitha.eot') format('embedded-opentype'),
         url('../font/tabitha.woff') format('woff'),
         url('../font/tabitha.ttf') format('truetype'),
         url('../font/tabitha.svg#TabithaRegular') format('svg');
}

@font-face {
    font-family: 'AmplifyPersonalUseOnlyRegular';
    src: url('../font/amplify_personaluseonly.eot');
    src: url('../font/amplify_personaluseonly.eot') format('embedded-opentype'),
         url('../font/amplify_personaluseonly.woff') format('woff'),
         url('../font/amplify_personaluseonly.ttf') format('truetype'),
         url('../font/amplify_personaluseonly.svg#AmplifyPersonalUseOnlyRegular') format('svg');
}

body
{
	background-color: #dbdada;
	display: block;
	text-align: left;
	margin: 0 auto;
}

#background
{
	position: absolute;
	top:0px;
	width: 75%;
	height:899px;
	max-width: 1000px;
	margin-left: 13%;
	background-color: #fff;
	z-index: -1;
}


.content
{
	width: 75%;
	max-width: 1000px;
	margin: 0 auto;
}
header
{
	width: 100%;
	height: 80px;
	background-color: #e54141;
}

	header h1 img
	{
		margin-top: -9px;
	}

	header h2
	{
		text-align: left;
		font-family: 'AmplifyPersonalUseOnlyRegular';
		font-size: 29px;
	}

	header #baseline
	{
		color: #232323;
		margin-top: -54px;
		margin-left: 29.5%;
		width:312px;
	}
	#profil
	{
		max-width: 200px;
		width: 14.15%;
		height: 48px;
		margin-left: 95.25%;
		margin-top: -76px;
		color: #fff;
	}

		header div #nomProfil
		{
			width: 200px;
			margin-left: -99%;
			margin-top: -63px;
		}
		header div a
		{
			text-decoration: none;
			color: #fff;
			font-size: 12px;
		}
		header div a p
		{
			font-family: 'TrebuchetMSBold';
			margin-left: -64%;
			margin-top: -21px;
		}
		header div p img
		{
			width: 47px;
			height: 47px;
			
		}


nav
{
	max-width: 188px;
	width: 18.8%;
	height: 520px;
	background-color: #4b4b4b;
	margin-left:0;
	margin-top: -11px;
	z-index: 100;
}

#blockMap
{
	margin-top: -539px;
	margin-left: 19.6%;
	width:80.35%;
	height: 520px;
	max-width: 803px;
	background-color: #fff;

}
	#map
	{
		background-color: #000;
		margin-left: 0%;
		margin-top: -19px;
		width: 100%;
		height: 483px;
	}
	section h2
	{
		font-family: 'AmplifyPersonalUseOnlyRegular';
		font-size: 29px;
		padding-bottom: 6px;
		padding-left: 17px;
		color: #fff;
		width: 47.4%;
		height: 26px;
		margin-left: 0;
		margin-top: 19px;
		margin-bottom: 24px;
		background-color: #303030;
	}

	#geocoder:before
	{
		content: url(../img/loupe.png);
		position: relative;
		left:10px;
		top:2px;
	}

	#geocoder
	{
		float:left;
		width: 49.7%;
		background-color: #4b4b4b;
		height: 32px;
		margin-left: 50.5%;
		margin-top: -37px;
	}

		input
		{
			box-sizing: border-box;
			font-family: 'TrebuchetMSBold';
			padding: .5em;
			text-indent: .2em;
			height: 22px;
			width: 82%;
			background-color: #fff;
			color: #4d4d4d;
			border: none;
			margin-left: 48px;
			margin-top: -23px;
			border-radius: 10px;
		}


#mostVisited
{
	width: 75%;
	height: 144px;
}

	#mostVisited h2
	{
		background-color: transparent;
		color:#303030;
		margin-top: 3px;
		margin-bottom: -14px;
		padding-left: 0;
	}

	.mostVisited
	{
		display: inline-block;
		position: relative;
		width: 18.6%;
		height: 112px;
		margin-left: 0%;
		margin-right: 1.09%;
		border: 1px solid black;
	}

	.last
	{
		
		display: inline-block;
		position: relative;
		width: 18.6%;
		height: 112px;
		margin:0;
		border: 1px solid black;
	}

footer
{
	width:100%;
	height:100px;
	background-color: #e54141;
	margin-top:50px;

}
	footer ul
	{
		float: left;
		margin-left: 13%;
		padding-left: 16.5%;
	}		

	footer li 
	{
		display: inline;
		list-style: none;
	}

	footer li a
	{
		position: relative;
		margin-top: -23px;
		display: block;
		float: left;
		text-decoration: none;
		margin-left: 20px;
		color: #fff;
		font-family: 'AmplifyPersonalUseOnlyRegular';
		font-size: 29px;
	}


	#tiret1:after
	{
		content: url(../img/tiret.png);
		float: left;
		margin-left: 191px;
		margin-top: -46px;
	}

	#tiret2:after
	{
		content: url(../img/tiret.png);
		float: left;
		margin-left: 162px;
		margin-top: -46px;
	}

.input_index
{
  height: 50px;
  width: 500px;
  margin-bottom: 10px;
  font-size: 30px;
  color: #555555;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


















