@font-face {
    font-family: 'MissionScriptRegular';
    src: url('../font/mission-script.eot');
    src: url('../font/mission-script.eot') format('embedded-opentype'),
         url('../font/mission-script.woff') format('woff'),
         url('../font/mission-script.ttf') format('truetype'),
         url('../font/mission-script.svg#MissionScriptRegular') format('svg');
}

@font-face {
    font-family: 'TrebuchetMSBold';
    src: url('../font/10157.eot');
    src: url('../font/10157.eot') format('embedded-opentype'),
         url('../font/10157.woff') format('woff'),
         url('../font/10157.ttf') format('truetype'),
         url('../font/10157.svg#TrebuchetMSBold') format('svg');
}

@font-face {
    font-family: 'TabithaRegular';
    src: url('../font/tabitha.eot');
    src: url('../font/tabitha.eot') format('embedded-opentype'),
         url('../font/tabitha.woff') format('woff'),
         url('../font/tabitha.ttf') format('truetype'),
         url('../font/tabitha.svg#TabithaRegular') format('svg');
}

@font-face {
    font-family: 'AmplifyPersonalUseOnlyRegular';
    src: url('../font/amplify_personaluseonly.eot');
    src: url('../font/amplify_personaluseonly.eot') format('embedded-opentype'),
         url('../font/amplify_personaluseonly.woff') format('woff'),
         url('../font/amplify_personaluseonly.ttf') format('truetype'),
         url('../font/amplify_personaluseonly.svg#AmplifyPersonalUseOnlyRegular') format('svg');
}

body
{
	background-color: #dbdada;
	display: block;
	text-align: left;
	margin: 0 auto;
}

.background
{
	position: absolute;
	top:0px;
	width: 75%;
	height:899px;
	max-width: 1000px;
	background-color: #fff;
	z-index: -1;
}

	#bg_contact
	{
		height:662px;
		background-color: #3d3d3d;
	}

	#bg_mention
	{
		height: 2800px;
	}

	#bg_faq
	{
		height: 650px;
	}

.content
{
	width: 75%;
	max-width: 1000px;
	margin: 0 auto;
}

.content_index
{
position: relative;
width: 75%;
left: 116px;
max-width: 1000px;
margin: 0px auto;
}

.header_index
{
	width: 100%;
	height: 80px;
	background-color: #ed4b49;
}

header
{
	width: 100%;
	height: 80px;
	background-color: #e54141;
}

	header h1 img
	{
		margin-top: -9px;
	}

	header h2
	{
		text-align: left;
		font-family: 'AmplifyPersonalUseOnlyRegular';
		font-size: 29px;
	}

	header #baseline
	{
		color: #232323;
		margin-top: -54px;
		margin-left: 29.5%;
		width:312px;
	}
	#profil
	{
		height: 48px;
		color: #fff;
		float: right;
		margin-top: -93px;
	}

	.profil_contact
	{
		max-width: 200px;
		width: 14.15%;
		height: 48px;
		margin-left: 95.25%;
		margin-top: -92px;
		color: #fff;
	}
		header div #nomProfil
		{
			width: 200px;
			float: right;
			margin-top: -1px;
			margin-right: -20%;
		}
		header div h2 + a
		{
			text-decoration: none;
			color: #fff;
			font-size: 12px;
			float: right;
			margin-top: -31px;
			margin-right: 25%;
		}
		header div a p
		{
			font-family: 'TrebuchetMSBold';
			
		}
		header div p img
		{
			width: 47px;
			height: 47px;
			float: right;
		}

#main
{
	margin-top: 16px;
	clear: right;
}

	nav
	{
		max-width: 188px;
		width: 18.8%;
		height: 520px;
		background-image: url(../img/bgNav.png);
		background-repeat: repeat-x;
		margin-left:0;
		margin-top: -11px;
		z-index: 100;
	}

	nav ul
	{
		list-style: none;
		float: left;
		height: 100%;
		margin-left: -5px;
		margin-top: 0px;
	}

	nav ul li
	{
		position: relative;
		width: 123%;
		margin-left: -35px;
	}

	nav ul li div
	{
		border: 1px solid #777573;
		width: 97%;
		margin-left: 1.2%;
	}

	nav ul li figure
	{
		margin-left: 7px;
		width: 96%;
	}
		nav ul li a:after
		{
			content: url(../img/sepBar.png);
			margin-left: 1.5%;
		}

	nav ul li figure img
	{
		width:30px;
		height: 30px;
	}
	#home
	{
		height: 35px;
		margin-top: -14px;
	}

		#home figcaption
		{
			font-family: 'AmplifyPersonalUseOnlyRegular';
			font-size: 29px;
			color:#fff;
			margin-left: 35px;
			margin-top: -31px;
		}

	#notifications
	{
		height: 207px;
	}

		#notifications a
		{
			text-decoration: none;
		}

		#notifications figure
		{
			margin-left: 2.5%;
			margin-top: 4px;
			margin-bottom: 8px;
		}

		#notifications figcaption
		{
			margin-left: 20%;
			margin-top: -29px;
			font-family: 'TrebuchetMSBold';
			font-size: 13px;
			color: #fff;
		}

		#notifications figcaption span
		{
			font-size: 10px;
		}

	#friendList
	{
		height: 193px;
		
	}
		#friendList div
		{
			height:178px;
			overflow-y:auto;
		}

		#friendList p
		{
			margin-left: 2.5%;
			font-family: 'TrebuchetMSBold';
			font-size: 13px;
			line-height: 6px;
			color: #fff;
		}


	#random button
	{
		margin-left: 5.2%;
		height: 65px;
		width: 90.5%;
		border-radius: 12px;
		border:2px solid #383838;
		background-color: #e54141;

		-webkit-box-shadow: 
		1px 1px 1px rgba(56, 56, 56, .25),
		1px -1px 1px rgba(56, 56, 56, .25),
		-1px -1px 1px rgba(56, 56, 56, .25),
		-1px 1px 1px rgba(56, 56, 56, .25),
		
		inset 1px -1px 1px rgba(56, 56, 56, .25),
		inset 1px -1px 1px rgba(56, 56, 56, .25),
		inset 1px -1px 1px rgba(56, 56, 56, .25),
		inset -1px 1px 1px rgba(56, 56, 56, .25);


		/*-webkit-box-shadow:
		inset -1px -1px 1px 1px rgba(25, 25, 25, 1);
		box-shadow: inset -1px -1px 1px 1px rgba(25, 25, 25, 1);*/
	}

		#random button p
		{
			font-family: 'AmplifyPersonalUseOnlyRegular';
			font-size: 32px;
			color:#fff;
			margin-top: 11px;

		}

	#blockMap
	{
		margin-top: -539px;
		margin-left: 19.6%;
		width:80.35%;
		height: 520px;
		max-width: 803px;
		background-color: #fff;

	}
		#map
		{
			background-color: #000;
			margin-left: 0%;
			margin-top: -11px;
			width: 100%;
			height: 483px;
		}
		section h2
		{
			
			font-family: 'AmplifyPersonalUseOnlyRegular';
			font-size: 29px;
			padding-bottom: 6px;
			padding-left: 17px;
			color: #fff;
			width: 47.4%;
			height: 26px;
			margin-left: 0;
			margin-top: 19px;
			margin-bottom: 0;
			background-color: #303030;
		}

		#geocoder:before
		{
			content: url(../img/loupe.png);
			position: relative;
			left:10px;
			top:2px;
		}

		#geocoder
		{
			
width: 49.7%;
background-color: #4b4b4b;
height: 32px;
margin-left: 50.5%;
margin-top: -32px;
		}

			#geocoder input
			{
				box-sizing: border-box;
				font-family: 'TrebuchetMSBold';
				font-size: 18px;
				padding: 6px 1px 1px 8px;
				height: 22px;
				width: 82%;
				background-color: #fff;
				color: #4d4d4d;
				border: none;
				margin-left: 48px;
				margin-top: -23px;
				border-radius: 10px;
			}


#mostVisited
{
	height: 144px;
	width: 100%;
	clear:left;
	float: left;
	margin-top: -17px;
	margin-bottom: 65px;
}

	#mostVisited h2
	{
		background-color: transparent;
		color:#303030;
		margin-top: 16px;
		margin-bottom: -11px;
		padding-left: 0;
	}

	.mostVisited
	{
		float: left;
		display: block;
		width: 18.6%;
		height: 112px;
		margin-left: 0%;
		margin-right: 1.75%;
		margin-top: 12px;
		background-color: #e54141;
	}

	#last
	{
		margin-right: 0%;
	}

		#mostVisited .mostVisited img
		{
			height: 66px;
			width: 100%;
		}

		#mostVisited .mostVisited figcaption
		{
			text-decoration: none;
			font-family: 'TrebuchetMSBold';
			color: #fff;
			font-size: 11px;
			height: 46px;
			width: 100%;
			margin-left: 8px;
			margin-top: 3px;
		}

		#mostVisited .mostVisited figcaption span
		{
			font-style: italic;
		}
footer
{
	width:100%;
	height:100px;
	background-color: #e54141;
	margin-top:50px;
	clear: left;

}

	footer .content
	{
		height: 100px;
	}

	footer #center
	{
		height: 82px;
		width: 544px;
		margin: 0 auto;
		padding-right: 70px;
	}
	
	footer ul
	{
		float: left;
	}		

	footer li 
	{
		float: left;
		list-style: none;
	}

	footer li a
	{
		position: relative;
		margin-top: -23px;
		float: left;
		text-decoration: none;
		margin-left: 20px;
		color: #fff;
		font-family: 'AmplifyPersonalUseOnlyRegular';
		font-size: 29px;
	}


	#tiret1:after
	{
		content: url(../img/tiret.png);
		float: left;
		margin-left: 191px;
		margin-top: -46px;
	}

	#tiret2:after
	{
		content: url(../img/tiret.png);
		float: left;
		margin-left: 162px;
		margin-top: -46px;
	}
#footerFaq
{
	margin-top: 89px;
}

.fbConnect{
margin: 80px 384px;
}

.content_video{
width:100%;
background-color:#3d3d3d;
height:433px;
}

#contact legend{
font-family: 'AmplifyPersonalUseOnlyRegular';
font-size:50px;
color:#fff;
}

.questions_reponses{
text-align:center;
}




fieldset{width:36%; height:406px;margin:25px auto;position:relative;text-align:right;padding:25px 25px 25px 65px;background-color:#3d3d3d;}
  legend{text-align:center;}
  #label{padding:0 .5em;line-height:2em;}
  input {font-family: 'TrebuchetMSBold', serif;width:70%;margin:0 0 15px 0;box-sizing:border-box;border-radius:5px;}
  input:invalid { border:2px dotted #CA605E;}
  input:focus{border-color:transparent;outline:none;}
  input:focus + label{opacity:1;}
  input:valid{ border:2px solid #2DAA29;color:#2DAA29;}
  textarea{font-family: 'TrebuchetMSBold', serif;width:70%;border:1px solid #ccc;margin:0 3px 15px 0;box-sizing:border-box;border-radius:5px;}
  textarea:invalid{border:2px dotted #CA605E;}
  textarea:valid{border:2px solid #2DAA29;color:#2DAA29;}
  textarea:required:valid{background:#fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAD2UExURfn7+WCmV2mvX/j7+Pn7+J/KmonOfp7JmY3OgIfNfIvPf22zY2qyYGqwYD+DOVmgUVqiUmiuXvr8+YLLePn8+ILKd0CFOVyjVIHKdmSsW2etXNbs04XLefj694HJdlqmUV+lVqnLpaLEnzp+NMPivlyjU1GaSXa9bGOwWXnAbT2DN9zv2WGnWDyANobMfIrOf9jt1Y/Rgn7IdI3PgYPJeKnOpYnNfff691ynU1efT4XIekeOQD2BN7nbtTp9ND6CODl9M221Y57ImV2kVGyyYqDJnJ3ImbXWsm20Y3a9a53HmJDShIfMe3W9bIXJeobJeTt/Nf///4Hh6TYAAABSdFJOU////////////////////////////////////////////////////////////////////////////////////////////////////////////wCtLQxxAAAAjklEQVR42mIIRAMMeAVYTVEFWLmZFJEF2F0MrRiVEAJOvMZcOmIMQAEDFRDfjUmfjZGPAahF21fTNjDQS9CMU8EeKM0gre7PYeHuKqUn42wD0s8gpOHp7cfjYSKsqssAcYeIvCObj4ScQAADzGHMapKiRvzKLAiXMluLWzqwIDtdVsuOAdUv5gy4fQsQYACU7kAA7L/JrQAAAABJRU5ErkJggg==') no-repeat 95% center;}
  textarea:valid + label{opacity:0;-webkit-transform: translate(200px, 0px);color:#2DAA29;}
  input:required:valid{background:#fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAD2UExURfn7+WCmV2mvX/j7+Pn7+J/KmonOfp7JmY3OgIfNfIvPf22zY2qyYGqwYD+DOVmgUVqiUmiuXvr8+YLLePn8+ILKd0CFOVyjVIHKdmSsW2etXNbs04XLefj694HJdlqmUV+lVqnLpaLEnzp+NMPivlyjU1GaSXa9bGOwWXnAbT2DN9zv2WGnWDyANobMfIrOf9jt1Y/Rgn7IdI3PgYPJeKnOpYnNfff691ynU1efT4XIekeOQD2BN7nbtTp9ND6CODl9M221Y57ImV2kVGyyYqDJnJ3ImbXWsm20Y3a9a53HmJDShIfMe3W9bIXJeobJeTt/Nf///4Hh6TYAAABSdFJOU////////////////////////////////////////////////////////////////////////////////////////////////////////////wCtLQxxAAAAjklEQVR42mIIRAMMeAVYTVEFWLmZFJEF2F0MrRiVEAJOvMZcOmIMQAEDFRDfjUmfjZGPAahF21fTNjDQS9CMU8EeKM0gre7PYeHuKqUn42wD0s8gpOHp7cfjYSKsqssAcYeIvCObj4ScQAADzGHMapKiRvzKLAiXMluLWzqwIDtdVsuOAdUv5gy4fQsQYACU7kAA7L/JrQAAAABJRU5ErkJggg==') no-repeat 95% center;}
  input:valid + label{opacity:0;-webkit-transform: translate(200px, 0px);color:#2DAA29;}
  
  label{opacity:.5;font-size:1em;position:absolute;background-color:#fff;color:#999;border-top-left-radius:5px;border-bottom-left-radius:5px;-webkit-transition:all 1s ease .2s;}
  label:after{content:'';width:0;height:0;border-bottom:1em solid transparent;border-left:1em solid #fff;border-right:1em solid transparent;border-top:1em solid transparent;position:absolute;bottom:0;right:-1.95em;}
  label:nth-of-type(1){margin-left:-363px;}
  label:nth-of-type(2){margin-left:-367px;}
  label:nth-of-type(3){margin-left:-416px;}
  label:nth-of-type(4){margin-left:-387px;}
  ::-webkit-input-placeholder {color: #999;font-style:italic;font-size:.7em;}
  :-moz-placeholder {color: #999;font-style:italic;font-size:.7em;}
  
  :invalid ~ div div{-webkit-transform:rotateY(180deg);}
  :invalid ~ div div:hover{-webkit-animation:shake .1s linear .1s 6;}
  input[type=submit]{font-size:1.5em;line-height:3em;width:100%;background-color:#4AC95C;background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, .4), rgba(0, 0, 0, .1));color:#fff;border:none;display:block;position:absolute;-webkit-backface-visibility: hidden;text-shadow:0px -1px 0px rgba(0,0,0,.5);text-transform:uppercase;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4), inset 0 -1px rgba(0, 0, 0, .5), inset 0 1px rgba(255, 255, 255, .5);}
  fieldset > div{width:100%;height:50px;-webkit-perspective:800px;}
  #form {width:70%;margin-left:60px;height:100%;position:absolute;-webkit-transform-origin: center center;-webkit-transition: -webkit-transform .3s ease;-webkit-transform-style: preserve-3d;}
  #lafatigue {-webkit-transform:rotateY(180deg);background-color:#BAB8B8;opacity:.8;}
  
  @-webkit-keyframes shake{
  from{left:5px;}
  50%{left:0px;}
  to{left:5px;}
  }









