video{
	opacity:0;
	display:block;margin:0 auto;
	width:767px;
	height: 433px;
	cursor:pointer;
}

video.play{
	opacity:1;
}

#progressBar{
	width: 63.5%;
	height: 7px;
	position: relative;
	margin-top: -36px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #fff;
	left: 20.7%;
	opacity: 1;
	z-index: 6;
	cursor: pointer;
}

#progressBar span{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 8px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
}

#progressBar .progress{
	z-index:7;
}

#progressBar .buffer{
	opacity:.6;
}

#button{
	position: relative;
	margin-left: 149px;
	margin-top: -64px;
	z-index: 0;
	height: 50px;
	width: 50px;
	border: 6px solid #fff;
	border-radius: 31px;
	padding-left: 1px;
	opacity: 1;
	text-align: center;
	background: transparent;
	transition: opacity .9s ease, -webkit-transform .9s ease;
	cursor: pointer;
}

.loading{
	-webkit-animation: loading 1s infinite linear;
	cursor:pointer;
}

#button span{
	transition: opacity .9s ease, -webkit-transform .9s ease;
	display: inline-block;
	height: 31px;
	width: 8px;
	background: #fff;
	margin-top: 10px;
	margin-right: 1px;
	cursor: pointer;
}

.remove{
	opacity: 0;
}

#play{
	transition: opacity .9s ease, -webkit-transform .9s ease;
	border-bottom: 1.2em solid transparent;
	border-left: 2.1em solid #fff;
	border-top: 1.2em solid transparent;
	margin-top: -40px;
	margin-left: 13px;
}
@-webkit-keyframes loading {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
	cursor:pointer;
}
