video{
	opacity:0;
	display:block;margin:0 auto;
	width:767px;
	height: 433px;
	cursor:pointer;
}

video.play{
	opacity:1;
}

#progressBar{
	width:70%;
	height:8px;
	position: relative;
	margin-top:-40px;
	margin-bottom:20px;
	border-radius:4px;
	border:1px solid #fff;
	left:15%;
	opacity:.6;
	z-index:6;
	cursor:pointer;
}

#progressBar span{
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	height:6px;
	background-color:#fff;
	display:inline-block;
	position:absolute;
	top:1px;
}

#progressBar .progress{
	z-index:7;
}

#progressBar .buffer{
	opacity:.5;
}

#button{
	position:absolute;
	top:45%;
	left:42%;
	z-index:0;
	height:200px;
	width:200px;
	border:10px solid #fff;
	border-radius:200px;
	opacity:.5;
	text-align:center;
	background:transparent;
	transition:opacity .9s ease, -webkit-transform .9s ease;
	cursor:pointer;
}

#button.off{
	-webkit-transform:scale(2);
	opacity:0;
	cursor:pointer;
}

#button.loading{
	-webkit-animation: loading 1s infinite linear;
	cursor:pointer;
}

#button span{
	display:inline-block;
	height:100px;
	width:40px;
	background:#fff;
	margin:4em .5em 0 0;
	cursor:pointer;
}

@-webkit-keyframes loading {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
	cursor:pointer;
}
